<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img src="http://i.imgur.com/EDVnek8.png" id="nav-logo" class="nav-logo-two">
      </a>
    </div>
    <div class="col-lg-8" id="mc_embed_signup">
      <form action="http://miamiyum.us4.list-manage.com/subscribe/post?u=d50aa6be825f558a63714fd75&amp;id=a0c945cfae" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="navbar-form navbar-left" target="_blank" novalidate>
        <div class="input-group">
          <input type="email" class="form-control" id="mce-EMAIL" name="EMAIL" placeholder="We'll send you unbeatable restaurant deals in Miami!">
          <span class="input-group-btn">
            <input class="btn btn-default" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">Subscribe</input></input>
          </span>
        </div>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>
        <div style="position: absolute; left: -5000px;">
          <input type="text" name="b_d50aa6be825f558a63714fd75_a0c945cfae" value="">
        </div>
      </form>
    </div>
    <div>
      <p class="navbar-text navbar-right">Brought to you by <a href="http://www.webdesignmiami.me/">Web Design Miami</a></p>
    </div>
  </div>
</nav>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40595801-1', 'miamiyum.com');
  ga('send', 'pageview');

</script>

<div class="fullscreen-cont">
  <div class="maptwo" id="map"></div>
</div>

<script type"text/javascript">
var mapStyle = [
  {"featureType":"road","elementType":"geometry","stylers":[{"lightness":100},{"visibility":"simplified"}]},{"featureType":"water","elementType":"geometry","stylers":[{"visibility":"on"},{"color":"#C6E2FF"}]},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"color":"#C5E3BF"}]},{"featureType":"road","elementType":"geometry.fill","stylers":[{"color":"#D1D1B8"}]}
];

  var handler = Gmaps.build('Google');
  handler.buildMap({ provider: {styles: mapStyle}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>